.no-bullet {
  list-style: none;
}

.link {
  display: inline-block;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
}

.link_active {
  border-bottom: none;
}

.address {
  min-width: 240px;
  margin-top: 3px;
  font-size: 18px;
  line-height: 24px;
}

.bet-button {
  border: 1px solid currentColor;
  padding: 12px 32px 11px 31px;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.letter-spacing-medium {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.line-height-extended {
  line-height: 115px;
}

.line-height-medium {
  line-height: 100px;
}

.aligned-text {
  align-self: flex-start;
}

.aligned-text-right {
  align-self: flex-end;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px 24px 96px;
  padding-right: 26px;
  padding-left: 27px;
}

.header__menu {
  margin-top: 8px;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  font-size: 18px;
  list-style: circle;
}

.header__logo {
  display: flex;
  width: 148px;
  height: 105px;
  margin-left: 36px;
}

.header__address {
  margin-left: auto;
}

.cover {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 165px 50px 51px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
  color: #ffffff;
  font-size: 100px;
  text-transform: uppercase;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
}

.cover__description-text {
  margin-left: 28px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.lots {
  margin: 0 24px;
}

.lots__heading {
  margin: 179px 40px 27px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  z-index: 1;
  max-width: 334px;
  min-height: 563px;
  background-position: center;
  background-size: cover;
}

.lots__card-lot-01 {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__card-lot-02 {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card-lot-03 {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  display: flex;
  height: 100%;
  padding: 51px 40px 48px;
  color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-size: 22px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: -1px;
  text-underline-position: under;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 40px 0;
  font-size: 20px;
  text-transform: lowercase;
}

.about {
  margin: 181px 24px 0;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 8px 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 13px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.006em;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 180px 50px 88px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  width: 240px;
  list-style: none;
}

.footer__social-list-item {
  width: 100%;
}
